$bg-color-encpie: #B23A48;
$color-titulo: #8A084B;
$color-footer: cornsilk;

$borde-logo: 15px;
$medidas-logo: 70px;
$ancho-banner:100%;
$alto-banner:300px;
$alineacion-centrada: center;
$medidas-iconos-pie:40px;


